//
// Name:            Animations
//
// Description:     Contains all animation styles
//

// ========================================================================
// Component: Animations
// ========================================================================

@keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(1.125);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}