//
// Name:            Base
//
// Description:     Contains all base styles, including basic resets
//

// ========================================================================
// Component
// ========================================================================
@media screen and (min-width: 1600px) {
  html {
    font-size: 1vw;
  }
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: $pn_reg;
  font-size: 16px;
  line-height: 24px;

  &.no-scroll {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

a {

  &:hover,
  &:focus {

  }
}

video::-webkit-media-controls {
  display: none !important;
}

// Heading styles
h1, h2, h3, h4, h5, h6 {
  font-family: $pn_bold;
}

// Global text styles
ul {
  margin-top: 0;
}

ol {
  color: #000;
}

.row {
  margin: 0;
}