//
// Name:            Buttons
//
// Description:     Contains all button styles
//

// ========================================================================
// Component
// ========================================================================
[class^='btn'] {
  border-radius: .25em;
  padding: .5em 1em;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.125rem;
  border: 1px solid transparent;

  span + svg {
    margin-left: .5em;
    margin-right: 0
  }
}

.btn--hero-cta {
  font-family: $pn_bold;
  font-size: 1.25em;
  background: $paisley-light-violet;
  color: $color-white;
  transition: background .25s ease-in-out;

  &.white {
    background: $color-white;
    color: $paisley-light-violet;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: $paisley-dark-pink;
      color: $color-white;

      svg g {
        fill: $color-white;
      }
    }
  }
}

html.ie {
  .btn--hero-cta {
    &:hover {
      background: $paisley-dark-pink;
      color: $color-white;

      svg g {
        fill: $color-white;
      }
    }
  }
}
