//
// Name:            Home
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//

// ========================================================================
// Component: Home Page
// ========================================================================
body.home {
  &.ready-for-hero-animation {
    .patients-hero__word-cloud {
      h1 {
        opacity: 1
      }
    }
  }

  #banner {
    overflow: hidden;
    padding: 0;
    background: url('../images/paisley-floor.png') 50% no-repeat;
    background-size: cover;
    position: relative;

    .banner-container {
      width: 100%;
      height: auto;
      position: relative;
    }

    .patients-hero__word-cloud {
      width: 100%;
      min-width: 32.5rem;
      max-width: 75rem;
      height: 25vw;
      min-height: 8.125rem;
      max-height: 18.75rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1em;
      line-height: 1;
      display: flex;
      align-items: center;
      -ms-flex-align: center;
      user-select: none;
      padding-top: 1rem;

      h1 {
        font-size: 1em;
        color: #b41e8c;
        text-transform: uppercase;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        width: 66%;
        transform: translate(-1em);
        opacity: 0;
        transition: opacity .25s linear;

        & > span {
          display: flex;

          strong {
            font-size: 2em;
            margin: 0 .125em;
          }

          &:nth-child(1) {
            align-items: flex-end;
            -ms-flex-align: end;

            strong {
              -webkit-transform: translateY(0.09375em);
              transform: translateY(0.09375em)
            }
          }

          &:nth-child(2) {
            align-items: flex-start;
            -ms-flex-align: start;

            strong {
              -webkit-transform: translateY(-0.09375em);
              transform: translateY(-0.09375em);
            }
          }

          &:last-child {
            position: absolute;
            bottom: -.125em;
            right: .25em;
            font-size: 6em;
          }
        }
      }

      ul {
        position: absolute;
        list-style: none;
        color: #919396;
        text-transform: lowercase;
        width: 100%;
        height: 100%;

        @supports (-webkit-appearance: none) {
          left: 0;
          top: .5em;
        }
      }

      li {
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 0;

        span {
          line-height: 0;
          opacity: 0;
          transform: scale(1.125);
          display: inline-block;
          animation: reveal .75s 1 forwards ease;
        }

        &:nth-child(1) {
          transform: translate(-9em, -3.5em);

          span {
            animation-delay: calc((.125s * 1) + .125s)!important;
          }
        }

        &:nth-child(2) {
          transform: translate(6.875em, -3.25em);

          span {
            animation-delay: calc((.125s * 2) + .125s)!important;;
          }
        }

        &:nth-child(3) {
          transform: translate(6.875em, 2.875em);
          opacity: .75;

          span {
            animation-delay: calc((.125s * 3) + .125s)!important;;
            font-size: .75em
          }
        }

        &:nth-child(4) {
          transform: translate(-7.5em, -2.375em);

          span {
            animation-delay: calc((.125s * 4) + .125s)!important;;
          }
        }

        &:nth-child(5) {
          transform: translate(-3.625em, -3em);

          span {
            animation-delay: calc((.125s * 5) + .125s)!important;;
          }
        }

        &:nth-child(6) {
          transform: translate(2.125em, -1.5em);

          span {
            animation-delay: calc((.125s * 6) + .125s)!important;;
            font-size: .75em;
          }
        }

        &:nth-child(7) {
          transform: translate(3.75em, 2em);

          span {
            animation-delay: calc((.125s * 7) + .125s)!important;;
            font-size: .75em;
          }
        }

        &:nth-child(8) {
          transform: translate(-8em, 2.125em);

          span {
            animation-delay: calc((.125s * 8) + .125s)!important;;
            font-size: .75em;
          }
        }

        &:nth-child(9) {
          transform: translate(-1.125em, -2.25em);
          opacity: .625;

          span {
            animation-delay: calc((.125s * 9) + .125s)!important;;
            font-size: .75em;
          }
        }

        &:nth-child(10) {
          transform: translate(-8.75em, 1.25em);
          opacity: .75;

          span {
            animation-delay: calc((.125s * 10) + .125s)!important;;
            font-size: .5em;
          }
        }

        &:nth-child(11) {
          transform: translate(2.625em, -2.25em);
          opacity: .375;

          span {
            animation-delay: calc((.125s * 11) + .125s)!important;;
            font-size: .4375em;
          }
        }

        &:nth-child(12) {
          transform: translate(-4.75em, 1.125em);
          opacity: .5;

          span {
            animation-delay: calc((.125s * 12) + .125s)!important;;
            font-size: .5em;
          }
        }

        &:nth-child(13) {
          transform: translate(-3.75em, -2.25em);
          opacity: .5;

          span {
            animation-delay: calc((.125s * 13) + .125s)!important;;
            font-size: .625em;
          }
        }

        &:nth-child(14) {
          transform: translate(-9em, -1.625em);
          opacity: .75;

          span {
            animation-delay: calc((.125s * 14) + .125s)!important;;
            font-size: .75em;
          }
        }

        &:nth-child(15) {
          transform: translate(-5em, 2em);
          opacity: .5;

          span {
            animation-delay: calc((.125s * 15) + .125s)!important;;
            font-size: .75em;
          }
        }

        &:nth-child(16) {
          transform: translate(1.75em, 1.875em);
          opacity: .625;

          span {
            animation-delay: calc((.125s * 16) + .125s)!important;;
            font-size: .375em;
          }
        }

        &:nth-child(17) {
          transform: translate(3em, -2.75em);
          opacity: .5;

          span {
            animation-delay: calc((.125s * 17) + .125s)!important;;
            font-size: .4375em;
          }
        }

        &:nth-child(18) {
          transform: translate(-9em, 2.625em);
          opacity: .625;

          span {
            animation-delay: calc((.125s * 18) + .125s)!important;;
            font-size: .5em
          }
        }

        &:nth-child(19) {
          transform: translate(-5.75em, 3em);
          opacity: .5;

          span {
            animation-delay: calc((.125s * 19) + .125s)!important;;
            font-size: .375em;
          }
        }

        &:nth-child(20) {
          transform: translate(-9.75em, -1.125em);
          opacity: .5;

          span {
            animation-delay: calc((.125s * 20) + .125s)!important;;
            font-size: .375em;
          }
        }
      }
    }

    .patients-hero__image {
      box-sizing: content-box;
      padding-top: calc(8.125rem - 1em);

      img {
        margin: 0 auto
      }
    }

    .patients-hero__cta {
      position: relative;
      z-index: 2;

      & > div {
        padding: 2em 7.5% 3em;
        background: white;
        text-align: center;
      }

      .btn--hero-cta {
        background: $paisley-light-violet;
        color: $color-white;
        margin-top: 15px;

        svg g {
          fill: $color-white;
        }

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background: $paisley-dark-pink;
            color: $color-white;

            svg g {
              fill: $color-white;
            }
          }
        }
      }
    }

    .short-paragraph {
      svg {
        right: 5%;
      }
    }

    &.is-animating {
      .patients-hero__word-cloud {
        li {
          span {
            animation: reveal .75s 1 forwards ease;
          }
        }
      }
    }

    &.ready-for-hero-animation {
      .patients-hero__word-cloud h1 {
        opacity: 1;
      }
    }
  }

  .short-paragraph {
    background: $paisley-gray;
    padding: 30px 15.5vw;
    position: relative;
    text-align: center;

    p {
      font-family: $pn_bold;
      font-size: 18px;
      color: $color-white;
      letter-spacing: 0;
      line-height: 24px;
      margin: auto;
      position: relative;
      z-index: 1;
    }

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  section:not(#banner) {
    h2 {
      font-family: $pn_bold;
      font-size: 2rem;
      color: $paisley-light-violet;
      letter-spacing: 0;
      margin-bottom: 30px;
    }

    .text-cnt {
      padding-bottom: 20px;
    }

    h3 {
      font-family: $pn_bold;
      font-size: 20px;
      line-height: 24px;
      margin-top: 0;
      margin-bottom: 30px;
    }

    p {
      font-size: 18px;
      line-height: 24px;
    }

    ul {
      li {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
      }
    }
  }

  #about-the-study {
    padding: 33px 7.8vw;
  }

  #pre-qualify {
    overflow: hidden;

    .short-paragraph {
      svg {
        left: 5%;
      }
    }
  }

  #to-participate {
    padding: 33px 7.8vw;
  }

  #talking-to-doctor {
    background: $paisley-gray;

    .col-xs-6 {
      display: flex;
      overflow: hidden;
      padding: 0;
      position: relative;

      &:last-child {
        padding: 50px 5.2vw;
      }
    }

    .text-cnt {
      position: relative;
      z-index: 1;
      margin: auto;
    }

    h2 {
      color: $color-white!important;
    }

    p {
      color: $color-white!important;
    }

    .btn--hero-cta {
      max-width: 300px;
      font-size: 17px;
      text-align: left;
      line-height: 20px;

      svg {
        width: 10px;
        height: 15px;
      }
    }

    .image-container {
      width: 100%;
      height: auto;
      min-height: 25rem;
    }

    .background {
      width: 100%;
      height: 100%;
      background: url('../images/butterfly-pattern.svg') 50% repeat;
      background-size: auto;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  #faq {
    padding: 70px 7.8vw;

    .buttons-container {
      margin-bottom: 40px;

      button {
        background: none;
        border: none;
        font-family: $pn_bold;
        font-size: 18px;
        color: $paisley-light-violet;
        cursor: pointer;
        margin-right: 20px;
        padding: 0;
        position: relative;
        text-align: left;
        -webkit-appearance: none;

        &:after {
          content: '';
          width: 1px;
          height: 100%;
          background: $paisley-light-violet;
          display: inline-block;
          position: absolute;
          top: 50%;
          left: calc(100% + 10px);
          transform: translateY(-50%);
        }

        &:last-child {
          margin-right: 0;
          &:after {
            display: none;
          }
        }

        &:hover {
          color: $paisley-dark-pink;
        }
      }
    }

    .faq-group {
      margin-bottom: 10px;
    }

    .faq-item {
      padding-bottom: 20px;

      &.open {
        .question {
          img {
            transform: rotate(0);
          }
        }
      }
    }

    .question {
      display: block;

      img, p {
        display: inline-block;
        vertical-align: top;
      }

      img {
        width: 18px;
        height: 18px;
        transform: rotate(180deg);
        transition: transform .25s ease-in-out;
      }

      p {
        max-width: calc(100% - 45px);
        font-family: $pn_bold;
        font-size: 18px;
        color: $paisley-light-violet;
        margin-top: 0;
        margin-left: 10px;
        text-align: left;

        &:hover {
          color: $paisley-dark-pink;
        }
      }
    }

    .answer {
      font-size: 16px;
      line-height: 24px;
      padding-top: 20px;
      display: none;
    }
  }

  #pre-qualify-modal {
    width: 100vw;
    height: 100vh;
    background: rgba(17,17,17,0.75);
    border: none;
    overflow: scroll;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;

    &.show {
      display: block;
    }

    .modal--screener {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      -ms-flex-align: center;
    }

    .modal--screener--inner {
      width: 80vw;
      height: 70vh;
      margin: 0;
      position: relative;
    }

    .modal__content {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-width: 80vw;
      border-radius: .5rem;
      padding: 1.5rem 0 0;
      background: white;
      text-align: center;

      .modal__content--inner {
        width: 100%;
        height: 100%;
        position: relative;
      }

      h2 {
        font-size: 2rem;
        line-height: 1;
        padding-bottom: 1rem;
        color: $paisley-light-violet;
        text-align: center;
      }

      .modal__iframe {
        width: 80vw;
        height: 70vh;
        max-height: 30em;

        iframe {
          border: 0
        }
      }
    }

    .modal__close {
      position: absolute;
      top: -2.5em;
      right: -1em;
      width: 2em;
      height: 2em
    }

    .modal--exit {
      width: 100vw;
      height: 100vh;
      background: rgba(17,17,17,0.75);
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      &.show {
        display: flex;
        align-items: center;
        -ms-flex-align: center;
        justify-content: center;
      }

      .text-cnt {
        max-width: 80%;
        background: white;
        display: inline-block;
        padding: 1.5rem;
        border-radius: .5rem;
        margin: 0;

        h2 {
          font-size: 2rem;
          line-height: 1;
          padding-bottom: 1rem;
          color: $paisley-light-violet;
          text-align: center;
        }

        p {
          margin-top: 0;
          text-align: center;
        }

        .modal__buttons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 15px;

          a {
            margin: 0 0 .5rem;
            min-width: 7em;

            &:last-child {
              margin-right: 0;
            }

            span {
              font-size: 1.25em;
            }

            &.btn--pink {
              background: $paisley-light-violet;
              color: $color-white;
            }

            &.btn--white {
              background: white;
              border: 1px solid $paisley-gray;
              color: $paisley-light-violet;
            }

            @media (hover: hover) and (pointer: fine) {
              &:hover {
                background: $paisley-dark-pink;
                color: $color-white;

                svg g {
                  fill: $color-white;
                }
              }
            }
          }
        }
      }
    }
  }
}

html.ie {
  body.home #banner .patients-hero__cta .btn--hero-cta:hover{
    background: $paisley-dark-pink;
    color: $color-white;

    svg g {
      fill: $color-white;
    }
  }

  body.home #pre-qualify-modal .modal--exit .text-cnt .modal-buttons a:hover {
    background: $paisley-dark-pink;
    color: $color-white;

    svg g {
      fill: $color-white;
    }
  }

  body.home #banner .patients-hero__word-cloud ul {
    top: .5em;
    left: 0;
  }
}

@media screen and (min-width: 480px) {
  body.home #banner .patients-hero__image {
    padding-top: calc(25vw - 1em);
  }
}

@media screen and (min-width: 520px) {
  body.home #banner .patients-hero__word-cloud {
    font-size: 3.25vw;
    padding-top: 4vw;
  }

  body.home #banner .patients-hero__word-cloud h1 {
    -webkit-transform: translate(-3vw);
    transform: translate(-3vw);
  }

  body.home #banner .patients-hero__word-cloud h1 > span:last-child {
    right: .125em;
  }

  body.home #banner .patients-hero__word-cloud li:nth-child(1) {
    transform: translate(-12em, -0.125em);
  }

  body.home #banner .patients-hero__word-cloud li:nth-child(2) {
    transform: translate(7.875em, 0);
  }

  body.home #banner .patients-hero__word-cloud li:nth-child(3) {
    transform: translate(7.875em, 0.875em);
  }

  body.home #banner .patients-hero__word-cloud li:nth-child(18) {
    transform: translate(-11em, 0.625em);
  }

  body.home #banner .patients-hero__word-cloud li:nth-child(19) {
    transform: translate(-10.75em, 2em);
  }

  body.home #banner .patients-hero__word-cloud h1>span:last-child {
    right: .125em;
  }
}

@media screen and (min-width: 640px) {
  body.home #banner .banner-container:after {
    display: block;
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 62.5%);
  }

  body.home #banner .patients-hero__image {
    height: 21.92rem;
  }

  body.home #banner .patients-hero__image img {
    width: 64rem;
    max-width: 64rem;
    height: 100%;
    -webkit-transform: translateX(calc(100vw - 64rem));
    transform: translateX(calc(100vw - 64rem));
  }

  body.home #banner .patients-hero__cta {
    position: absolute;
    top: calc(25vw - 1em);
    height: 19rem;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
  }

  body.home #banner .patients-hero__cta > div {
    background: rgba(70, 30, 83, 0.6);
    width: 22.4rem;
    padding: 1.5em;
    color: white;
    text-align: left;
  }

  body.home #banner .patients-hero__cta p {
    font-size: 1.25em;
    padding-bottom: 1em;
  }

  body.home #banner .patients-hero__cta {
    right: 0;
  }

  body.home #banner .patients-hero__cta div {
    border-radius: 1em 0 0 1em;
  }

  body.home #banner .patients-hero__cta .btn--hero-cta {
    background: $color-white;
    color: $paisley-light-violet;
    margin-top: 0;
  }

  body.home #banner .patients-hero__cta .btn--hero-cta svg g {
    fill: $paisley-light-violet;
  }

  body.home #pre-qualify-modal .modal--exit .text-cnt .modal__buttons {
    flex-direction: row;
  }

  body.home #pre-qualify-modal .modal--exit .text-cnt .modal__buttons a {
    margin: 0 .25em .5rem;
  }
}

@media screen and (min-width: 1024px) {
  body.home #banner .patients-hero__image {
    height: 32.25vw;
  }

  body.home #banner .patients-hero__image img {
    width: 100%;
    max-width: 100%;
    display: block;
    transform: none !important;
  }

  body.home #banner .patients-hero__cta {
    height: 30vw;
  }

  body.home #banner .patients-hero__cta > div {
    width: 35vw;
  }
}

@media screen and (min-width: 1025px) {
  body.home #about-the-study,
  body.home #to-participate {
    padding: 33px 12vw;
  }

  body.home #faq {
    padding: 70px 12vw;
  }
}

@media screen and (min-width: 1200px) {
  body.home #banner .patients-hero__word-cloud {
    font-size: 2.4375rem;
    padding-top: 3rem;
  }

  body.home #banner .patients-hero__word-cloud h1 {
    -webkit-transform: translate(-2.25rem);
    transform: translate(-2.25rem);
  }

  body.home #banner .patients-hero__image {
    padding-top: calc(18.75rem - 1em);
    height: 25.98046875rem;
  }

  body.home #banner .patients-hero__image img {
    width: auto;
    max-width: none;
    position: relative;
    left: 50vw;
    transform: translateX(-50%) !important;
  }

  body.home #banner .patients-hero__cta {
    top: calc(18.75rem - 1em);
    height: 22.5rem;
  }

  body.home #banner .patients-hero__cta > div {
    border-radius: 1em !important;
    width: 26.25em;
  }

  body.home #banner .patients-hero__cta {
    right: auto;
    left: calc(50vw + 11.25rem);
  }
}

@media screen and (min-width: 1440px) {
  body.home #banner .patients-hero__image img {
    position: static;
    transform: none !important;
  }
}

@media (max-width: 681px) {
  body.home #talking-to-doctor .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  body.home #talking-to-doctor .image-container {
    height: 65vw;
  }
}