//
// Name:            Footer
//
// Description:     Contains all footer styles
//

// ========================================================================
// Component: Footer
// ========================================================================

footer.footer {
  background: $paisley-dark-violet;
  color: $color-white;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  flex-direction: column;
  padding: 40px 7.8vw;

  h2 {
    font-family: $pn_bold;
    font-size: 28px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 24px;
  }

  .footer-nav {
    list-style: none;
    margin-bottom: 42px;
    padding: 0;
    text-align: center;

    li {
      display: inline;
      margin-right: 20px;
      position: relative;

      &:nth-child(2) {
        :after {
          content: "\A";
          white-space: pre;
        }

        &:before {
          display: none;
        }
      }

      a {
        font-size: 12px;
        color: $color-white;
        text-align: center;
        line-height: 14px;
      }

      &:before {
        content: '';
        width: 1px;
        height: 10px;
        background: $color-white;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: calc(100% + 10px);
        transform: translateY(-50%);
      }

      &:last-child {
        margin-right: 0;

        &:before {
          display: none;
        }
      }
    }
  }

  .social-links {
    list-style: none;
    margin-bottom: 42px;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 20px;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      span {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
      }

      img {
        width: 57px;
        height: 57px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .logo {
    width: 366px;
    max-width: 90%;
    margin-bottom: 28px;
  }

  .disclaimer {
    font-size: 10px;
    color: $color-white;
    text-align: center;
    line-height: 14px;
  }
}

@media (max-width: 681px) {
  footer.footer .logo {
    width: 90%;
  }
}
