//
// Name:            Header
//
// Description:     Contains all header styles
//

// ========================================================================
// Component: Header
// ========================================================================

header.header {
  position: fixed;
  background: $color-white;
  width: 100vw;
  z-index: 100;
  top: 0;
  left: 0;
  height: 7em;
  transition: transform .25s ease;

  .container {
    width: calc(100% - 4vw);
    margin: 0 auto;
    min-width: 17.5rem;
    position: relative;
  }

  .header__main {
    padding-top: 3.5em;
    height: 100%;

    .container {
      display: flex;
      -ms-flex-align: end;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  .header__logo {
    a {
      display: block;
      transition: transform .25s ease;
      transform-origin: left bottom;
    }

    img {
      width: 10em;
      height: auto;
    }
  }

  .header__trigger {
    position: absolute;
    z-index: 9999;
    top: -.25em;
    right: -.5em;
    width: 48px;
    height: 48px;
    background: white;
    border: none;
    display: block;
    padding: 0;
    cursor: pointer;

    span,
    &:before,
    &:after {
      position: absolute;
      left: 25%;
      width: 50%;
      height: 4px;
      display: block;
      border-radius: .125em;
    }

    &:before,
    &:after {
      content: ' ';
      transition: transform .125s linear;
    }

    &:before {
      top: 14px;
      background: $paisley-dark-violet;
    }

    &:after {
      bottom: 14px;
      background: $paisley-dark-pink;
    }

    span {
      white-space: nowrap;
      text-indent: 100%;
      overflow: hidden;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      background: $paisley-light-violet;
      -webkit-transition: opacity .125s linear;
      transition: opacity .125s linear;
    }
  }

  .header__nav {
    ul {
      width: 100%;
      display: flex;
      list-style: none;
      padding: 0;
    }

    a {
      display: block;
      padding: .75em 0;
      line-height: 1;
      color: white;
      font-family: $pn_bold;
      text-decoration: none;
    }
  }

  .header__utility {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .container {
      height: 2.5em;
      padding-top: 0;
      display: flex;
      justify-content: flex-end;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  .social {
    li {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      span {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &.headroom--not-top {
    transform: translateY(-2.5em);
    box-shadow: rgba(17, 17, 17, 0.25) 0 0 1em 0.5em;
  }

  &.has-open-nav {
    .header__nav {
      display: block;
      max-height: 14.5em;

    }
    .header__trigger {
      &::before {
        transform: translateY(8px) rotate(45deg);
      }

      &:after {
        transform: translateY(-8px) rotate(-45deg);
      }

      span {
        opacity: 0
      }
    }
  }
}

@media screen and (max-width: 639px) {
  header.header .header__nav ul {
    -webkit-box-orient: vertical;
    flex-direction: column;
  }

  header.header .header__nav a {
    margin: 0 auto;
    width: 87.5%;
    min-width: 17.5rem;
    max-width: 65.625rem;
    position: relative;
  }
}

@media screen and (min-width: 640px) {
  header.header .header__nav ul {
    -ms-flex-pack: center;
    justify-content: center;
  }

  header.header .header__nav a {
    padding: .25em .625em;
  }

  header.header .header__utility .container {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 899px) {
  header.header .header__nav {
    position: absolute;
    top: 3.5em;
    left: -6.25vw;
    width: calc(100% + 12.5vw);
    height: auto;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .25s ease;
    transition: max-height .25s ease;
    background: $paisley-dark-pink;
  }

  header.header .has-open-nav .header__nav {
    display: block;
    max-height: 14.5em
  }

  header.header .header__nav ul {
    overflow: hidden;
    background: linear-gradient(to right, $paisley-dark-pink, $paisley-light-violet);
    padding: 1em 0;
  }
}

@media screen and (min-width: 900px) {
  header.header.headroom--not-top {
    transform: translateY(-3.1em);
  }

  header.header .header__main {
    padding-top: 2.5em
  }

  header.header .header__logo a {
    display: block;
    transition: transform .25s ease;
    transform-origin: left bottom;
  }

  header.header .header__logo img {
    width: 14.063em;
  }

  header.header .header__nav {
    display: block
  }

  header.header .header__nav ul {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  header.header .header__nav li:last-child {
    margin-left: .625em;
  }

  header.header .header__nav a {
    color: $paisley-light-violet;
    padding: .5em .625em;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $paisley-dark-pink;
      }
    }
  }

  header.header .header__nav li:last-child a {
    background: $paisley-light-violet;
    border-radius: .25em;
    padding: .5em 1em;
    color: $color-white;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: $paisley-dark-pink;
        color: $color-white!important;
      }
    }
  }

  header.header .header__nav li:last-child svg {
    fill: white;
    width: .375em;
    height: .5em;
    margin-left: .5em;
  }

  header.header .header__utility {
    background: transparent;
    padding-top: 1em;
  }

  header.header.headroom--not-top .header__logo a {
    transform: translateY(0.25em) scale(0.7);
  }

  header.header .header__trigger {
    display: none
  }
}

html.ie {
  @media screen and (min-width: 900px) {
    header.header .header__nav li:last-child a:hover {
      background: $paisley-dark-pink;
      color: $color-white!important;
    }

    header.header .header__nav a:hover {
      color: $paisley-dark-pink;
    }
  }
}