//
// Name:            Layout
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//

// ========================================================================
// Component: Base
// ========================================================================

.main {
  margin-top: 7em;
  padding: 0;
  position: relative;
  transition: margin-top .25s ease;
  z-index: 99;
}

@media (max-width: 899px) {
  header.headroom--not-top {
    & + main {
      margin-top: 5em;
    }
  }
}

.wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  position: relative;
}

// Tooltip
.tooltip {
  position: relative;
  padding-top: 1rem;

  h6 {
    font-family: $pn_reg;
    font-size: .75rem;
    line-height: 1.125;
    display: inline;
  }

  a {
    font-weight: bold;
    background: #B41D8B;
    color: white;
    border-radius: 50%;
    width: 1.5em;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    position: relative;
    display: inline-block;

    &::after {
      position: absolute;
      display: block;
      content: ' ';
      top: calc(100% + .5em);
      left: calc(50% - .5em);
      width: 0;
      height: 0;
      border-left: .5em solid transparent;
      border-right: .5em solid transparent;
      border-bottom: 0.5em solid #B41D8B;
    }
  }

  p {
    position: absolute;
    top: calc(100% + 1rem);
    left: -.5em;
    color: white;
    background: #B41D8B;
    font-size: 1rem!important;
    padding: 1em;
    border-radius: 1em;
    z-index: 99;
    width: calc(100% + 1rem);
    max-width: calc(100% + 1rem);
    margin-top: 0;
  }

  a::after,  p {
    transform: translateY(0.5em);
    opacity: 0;
    pointer-events: none;
    transition: all .125s linear;
  }

  &.has-open-tooltip a::after,
  &.has-open-tooltip p {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

@media screen and (min-width: 900px) {
  .tooltip p {
    max-width: 40vw;
    left: 0;
    width: 100%;
  }
}

//Image Container
.image-container {
  display: block;
  position: relative;
  overflow: hidden;

  img {
    width: auto;
    max-width: none;
    height: auto;
    max-height: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.wh {
      height: 100% !important
    }
    &.ww {
      width: 100% !important
    }
  }
}

//Cookie Notice
#cookie-notice {
  background: $color-white!important;
  color: $color-black!important;
  padding: 1em 4vw;
  text-align: left;

  .cookie-notice-container {
    text-align: left;
  }

  #cn-notice-text {
    display: block;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;

    a {
      border-bottom: 1px solid $paisley-dark-violet;
    }
  }

  #cn-accept-cookie {
    border-radius: .25em;
    padding: .5em 1em;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: $pn_bold;
    font-size: 1.125rem;
    border: 1px solid transparent;
    background: $paisley-light-violet;
    color: $color-white;
    margin: 15px 0 0;
  }
}

// Back To Top Button
#back-to-top {
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 3.3vw;
  right: 3.3vw;
  opacity: 0;
  padding: 0;
  transition: opacity .25s ease-in-out;
  z-index: 110;
  -webkit-appearance: none;

  &.show {
    opacity: 1;
  }

  .btt--inner {
    width: 60px;
    height: 60px;
    position: relative;
  }

  span {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 681px) {
  #back-to-top,
  #back-to-top .btt--inner,
  #back-to-top img {
    width: 40px;
    height: 40px;
  }

  #back-to-top {
    bottom: 4vw;
    right: 4vw;
  }
}