//
// Name:            Fonts
//
// Description:     Contains all fonts
//


// ========================================================================
// Component: Fonts
// ========================================================================

@font-face {
    font-family: 'proxima-nova-reg';
    src: url('../fonts/ProximaNova-Regular.ttf') format('ttf'),
         url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'proxima-nova-bold';
  src: url('../fonts/ProximaNova-Bold.ttf') format('ttf'),
  url('../fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
