//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================

// ========================================================================
// Component: Variables
// ========================================================================
// Fonts
$pn_reg: 'proxima-nova-reg', sans-serif;
$pn_bold: 'proxima-nova-bold', sans-serif;

// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$paisley-gray: #788793;
$paisley-light-violet: #B41D8C;
$paisley-dark-violet: #402C57;
$paisley-dark-pink: #E93D79;

// Forms


// Layout

